<html>
    <head>
        <title>PAT Registration</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="public/css/app.css">
    </head>
    <body>
    	<div class="container">
	        #parse ("common/header.vm")
	        <div class="bannerText">
	            <h1>
	                <span>Java Meetup Registration</span>
	            </h1>
	        </div>
			#if( $notify )
			    <div class="alert alert-danger">
				  <strong>Sorry!</strong> $!{notify}
				</div>
			#end
			#if( $success )
			    <div class="alert alert-success">
				  <strong>Thank you!</strong> $!{success}
				</div>
				#parse ("views/participant.vm")
			#else
	      		#parse ("views/form.vm")
	        #end
	        #parse ("common/footer.vm")
    	</div> <!-- ./container -->
    </body>
</html>